$primary-color: #ffbb00;
$secondary-color: #eaac00;
$bg-color: #383838;
$dark: #262526;
$offwhite: #ececec;
$blue: #0177b2;

body {
    color: #f0f;
    background-color: whitesmoke;
    font-family: "Source Code Pro", monospace;
}

.container {
    border-radius: 4px;
}