$primary-color: #ffbb00;
$secondary-color: #d49c00;
$bg-color: #383838;
$dark: #262526;
$orange: #f96b0c;
$blue: #0177b2;

body {
    color: #f0f;
    background-color: $bg-color;
    //font-family: Source Sans\ 3, Helvetica, arial, sans-serif;
    font-family: monospace;
}

.container {
    border-radius: 4px;
}