@use "@picocss/pico/scss/pico" with ($theme-color: "yellow"
);

//$primary-color: #ffbb00;
//$secondary-color: #eaac00;
//$bg-color: #383838;
//$dark: #262526;
$blue: #0177b2;

:root {
    --pico-border-radius: 1px;
}

body {
    font-family: "Source Code Pro", monospace;
}