$primary-color: #ffbb00;
$secondary-color: #ffedb8;
$bg-color: #444;

body {
    color: #f0f;
    background-color: $bg-color;
}

.container {
    color: #fff;
    background: #666;
    border-radius: 4px;
}